@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html,
body {
  font-family: acumin-pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #4b4b4b;
  background: #e0e0e0;
}

.component-selected {
  position: relative;
}

.component-selected:after {
  content: " ";
  border: 1px dashed #2680eb;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  display: block;
}
